h1 {
  font-weight: bold;
}

.text-underline-hover {
  text-decoration: none;
}

.top-buffer { margin-top:20px; }

.posting.body {
  font-size: 1.2em;
}

.project.attribute {
  font-weight: bold;
}

.project.detail {
  color: grey;
}

.project.owner {
  font-weight: bold
}

.project.name {
  
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

.top-buffer { margin-top:20px; }

.blank-row {
  height: 30px;
}

.query-bar {
  background-color: #EEEEEE;
  padding: 5px 5px 5px 5px;
}

footer {
  padding: 0.5in;
  font-size:11px;
  color:rgb(100, 100, 100);
}


/* Add these styles to your CSS file (styles.css) */
button.btn {
  color: #4CAF50;
  cursor: pointer;
  border: none;
  border-radius: 4px; /* Add border-radius for rounded corners */
}

button.btn.btn-adopt {
  background-color: #4CAF50; /* Green */
  color: green;

}

button.btn.btn-found {
  background-color: #008CBA; /* Blue */
  color: blue;

}

button.btn.btn-missing {
  background-color: #f44336; /* Red */
  color: red;

}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}
  
@media(min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
}
* {box-sizing: border-box}

#success_message{ display: none;}







