h1 {
  font-weight: bold;
}

.text-underline-hover {
  text-decoration: none;
}

.top-buffer { margin-top:20px; }

.posting.body {
  font-size: 1.2em;
}

.project.attribute {
  font-weight: bold;
}

.project.detail {
  color: grey;
}

.project.owner {
  font-weight: bold
}

.project.name {
  
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

.top-buffer { margin-top:20px; }

.blank-row {
  height: 30px;
}

.query-bar {
  background-color: #EEEEEE;
  padding: 5px 5px 5px 5px;
}

footer {
  padding: 0.5in;
  font-size:11px;
  color:rgb(100, 100, 100);
}


/* Add these styles to your CSS file (styles.css) */
button.btn {
  color: #4CAF50;
  cursor: pointer;
  border: none;
  border-radius: 4px; /* Add border-radius for rounded corners */
}

button.btn.btn-adopt {
  background-color: #4CAF50; /* Green */
  color: green;

}

button.btn.btn-found {
  background-color: #008CBA; /* Blue */
  color: blue;

}

button.btn.btn-missing {
  background-color: #f44336; /* Red */
  color: red;

}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}
  
@media(min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
}
* {box-sizing: border-box}

#success_message{ display: none;}

.card
    {display: flex;
      justify-content: space-around;  
      flex-wrap: wrap;}
.card-content
   { display: flex;
    flex-direction: column;
    align-items: center;}


/*
copy from https://developers.google.com/maps/documentation/javascript/examples/advanced-markers-html#maps_advanced_markers_html-html
*/
#map {
  height: 700px;
  width: 100%;
}


:root {
  --building-color: #FF9800;
  --house-color: #0288D1;
  --shop-color: #7B1FA2;
  --warehouse-color: #558B2F;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
  height: 100%;
  width: 100%;
}


.customMarker {
  position:absolute;
  cursor:pointer;
  background:#424242;
  width:100px;
  height:100px;
  /* -width/2 */
  margin-left:-50px;
  /* -height + arrow */
  margin-top:-110px;
  border-radius:10px;
  padding:0px;
}
.customMarker:after {
  content:"";
  position: absolute;
  bottom: -10px;
  left: 40px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #424242 transparent;
  display: block;
  width: 0;
}
.customMarker img {
  width:90px;
  height:90px;
  margin:5px;
  border-radius:10px;
}


