<div class="formbar-wrap">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group"><i class="material-icons">search</i> 請選擇欲查詢的資料</div>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-sm-12" style="text-align:left;">
                                        <div class="form-group">
                                            <div class="form-check form-check-inline" id="chk_0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" data-sval="0" type="radio" name="exampleRadios1" id="radPetType0" value="0">犬
                                                    <span class="circle"><span class="check"></span></span>
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline" id="chk_1">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" data-sval="1" type="radio" name="exampleRadios1" id="radPetType1" value="1">貓
                                                    <span class="circle"><span class="check"></span></span>
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline" id="chk_O">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" data-sval="O" type="radio" name="exampleRadios1" id="radPetTypeO" value="O">其他
                                                    <span class="circle"><span class="check"></span></span>
                                                </label>
                                            </div>
                                            <select name="form-select" id="cobVariety" class="form-select">
                                                <option value="" selected="">選擇品種/物種</option>
                                            </select>
                                        </div>
                                    </div>

                                    
                                </div>
                                <span class="bmd-form-group"><input type="text" id="txtKeyWord" class="form-control" style="display: none" placeholder="晶片/特徵/遺失時間/遺失地點"></span>

                            </div>
                        </div>

                        
                            <div class="row">
                                <div class="col-lg-1">
                                </div>
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="form-inline col-lg-5">
                                            <div class="form-group">
                                                <div class="form-label">收容所縣市
                                                    <select name="form-select" id="sel_County" class="form-select" data-gtm-form-interact-field-id="0"><option value="">選擇縣市</option><option value="A">新北市</option><option value="V">臺北市</option><option value="S">臺中市</option><option value="U">臺南市</option><option value="W">高雄市</option><option value="C">桃園市</option><option value="B">宜蘭縣</option><option value="D">新竹縣</option><option value="E">苗栗縣</option><option value="G">彰化縣</option><option value="H">南投縣</option><option value="I">雲林縣</option><option value="J">嘉義縣</option><option value="M">屏東縣</option><option value="N">臺東縣</option><option value="O">花蓮縣</option><option value="P">澎湖縣</option><option value="Q">基隆市</option><option value="R">新竹市</option><option value="T">嘉義市</option><option value="Y">金門縣</option><option value="X">連江縣</option></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-inline col-lg-5">
                                            <div class="form-group">
                                                <div class="form-label">收容所
                                                     <select name="form-select" id="sel_shelter" class="form-select">
                                                        
                                                    <option value="">-- 選擇收容所 --</option><option value="AAAAG">新北市政府動物保護防疫處</option><option value="AAACG">新北市新店區公立動物之家</option><option value="AAADG">新北市板橋區公立動物之家</option><option value="AAAEG">新北市中和區公立動物之家</option><option value="AAAFG">新北市淡水區公立動物之家</option><option value="AAAGG">新北市瑞芳區公立動物之家</option><option value="AAAHG">新北市五股區公立動物之家</option><option value="AAAIG">新北市八里區公立動物之家</option><option value="AAAJG">新北市三芝區公立動物之家</option></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-inline col-lg-5">
                                            <div class="form-group">
                                                <div class="form-label">動物性別
                                                    <select name="form-select" id="cobSex" class="form-select">
                                                        <option value="" selected="">選擇性別</option>
                                                        <option value="1" selected="">公</option>
                                                        <option value="0" selected="">母</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-inline col-lg-5">
                                            <div class="form-group">
                                                <div class="form-label">入所年齡
                                                    <select name="form-select" id="cobAge" class="form-select"> 
                                                        <option value="" selected="">選擇年齡</option>
                                                    <option value="1">未離乳</option><option value="8">幼齡(離乳~1歲)</option><option value="9">成年(1~7歲)</option><option value="7">老齡(7歲以上)</option></select>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="form-inline col-lg-5">
                                            <div class="form-group">
                                                <div class="form-label">來源行政區
                                                    <select name="form-select" id="cobCounty" class="form-select"><option value="">選擇縣市</option><option value="A">新北市</option><option value="V">臺北市</option><option value="S">臺中市</option><option value="U">臺南市</option><option value="W">高雄市</option><option value="C">桃園市</option><option value="B">宜蘭縣</option><option value="D">新竹縣</option><option value="E">苗栗縣</option><option value="G">彰化縣</option><option value="H">南投縣</option><option value="I">雲林縣</option><option value="J">嘉義縣</option><option value="M">屏東縣</option><option value="N">臺東縣</option><option value="O">花蓮縣</option><option value="P">澎湖縣</option><option value="Q">基隆市</option><option value="R">新竹市</option><option value="T">嘉義市</option><option value="Y">金門縣</option><option value="X">連江縣</option></select>
                                                    <select name="form-select" id="cobTown" class="form-select"> 
                                                        <option value="" selected="">選擇行政區</option>
                                                    </select>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="form-inline col-lg-5">
                                            <div class="form-group">
                                                花色
                                            </div>
                                            <div class="form-group bmd-form-group">
                                                <input type="text" id="txtHAIRCOLOR" class="form-control" placeholder="花色" maxlength="10">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-inline col-lg-5 ACS">
                                            <div class="form-group">
                                                <div class="form-label">收容編號</div>
                                            </div>
                                            <div class="form-group bmd-form-group">
                                                <input type="text" id="txtAcNum" class="form-control" placeholder="收容編號">
                                            </div>
                                        </div>
                                        <div class="form-inline col-lg-5">
                                            <div class="form-group">
                                                動物晶片號碼
                                            </div>
                                            <div class="form-group bmd-form-group">
                                                <input type="text" id="txtCNum" class="form-control" placeholder="動物晶片號碼">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <input type="button" id="SelData" onclick="QueryData()" class="btn btn-round btn-success btn-sm" value="查詢">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                </div>
                            </div>


                    </div>